:root{
    --lg-font: 'Poppins', serif;
    --sm-font: 'Poppins', sans-serif;
}

.navbar{
    box-shadow: 0 3px 9p 3px rgba(0, 0, 0, 0.1);
}

#header{
        background:  rgb(252, 170, 235);
}

.height{
    height: 10vh;
}
.form{
    position: relative;
}

.form span{
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 2px solid;
    color: rgb(226, 43, 171);
}
.left-pan{
    padding-left: 7px; 
}
.left-pan i{
    padding-left: 10px;
}
.form-input{
    height: 55px;
    text-indent: 10px;
    border-radius: 10px;
}
.carousel-item img {
    width: 100%; 
    max-width: 200px; 
    height: auto;
}
.carousel-container {
    background-color: white; 
    padding: 10px; 
    border: 2px solid #ddd; 
    border-radius: 10px; 
    max-width: 200px; 
    margin: 0 auto; 
}
/* Login */
.box-area{
    width: 930px;
}
.right-box{
    padding: 40px 30px 40px 40px;
}
::placeholder{
    font-size: 16px;
}
@media only screen and (max-width: 760px){

    .box-area{
        margin: 0 10px;
    }
    .left-box{
        height: 100px;
        overflow: hidden;
    }
    .right-box{
        padding: 20px;
    }   
    .login-logo{
        display: none !important;
    }
    .login-title{
        text-align: center ;
    }
}



